TAILSCALE_SUBDOMAIN=default
VAULT_ROOT_TOKEN=root
ANSIBLE_GALAXY_TOKEN=invalidansiblegalaxytoken
MINIO_LOCAL_ROOT_PASSWORD=minioadmin
KOMODOR_API_KEY=invalidkomodorapikey
TAILSCALE_OPERATOR_CLIENT_ID=invalidtailscaleoperatorclientid
TAILSCALE_OPERATOR_CLIENT_SECRET=invalidtailscaleoperatorclientsecret
KEYCLOAK_ADMIN_PASSWORD=invalidkeycloakadminpassword
KEYCLOAK_POSTGRESQL_PASSWORD=invalidkeycloakpostgresqlpassword
VELERO_MINIO_ACCESS_KEY=invalidminioaccesskey
VELERO_MINIO_SECRET_KEY=invalidminiosecretkey
ARGOCD_ADMIN_PASSWORD=invalidargocdadminpasswordinplaintext
ARTIFACTORY_MASTER_KEY=invalidmasterkey
ARTIFACTORY_JOIN_KEY=invalidjoinkey
ARTIFACTORY_POSTGRESQL_ADMIN_PASSWORD=invalidadminpassword
ARTIFACTORY_ADMIN_PASSWORD=invalidartifactorypasswird
PULUMI_ACCESS_TOKEN=invalidpulumiaccesstoken
NGROK_AUTHTOKEN=invalidngrokauthtoken
NGROK_API_KEY=invalidngrokapikey
DATADOG_API_KEY=invaliddatadogapikey
DRAGONFLY_JWT_KEY=invalidgragonflyjwtkey
AIRFLOW_ADMIN_PASSWORD=invalidairflowadminpassword
AIRFLOW_WEBSERVER_SECRET_KEY=invalidairflowwebserversecretkey
NEO4J_PASSWORD=invalidneo4jpassword
AWX_OPERATOR_ADMIN_PASSWORD=invalidawxadminpassword
SONARQUBE_MONITORING_PASSWORD=invalidsonarqubemonitoringpasscode
GHA_RUNNERS_PAT=invalidghpat
