VAULT_ROOT_TOKEN=root
ANSIBLE_GALAXY_TOKEN=invalidansiblegalaxytoken
MINIO_LOCAL_ROOT_PASSWORD=minioadmin
KOMODOR_API_KEY=invalidkomodorapikey
TAILSCALE_OPERATOR_CLIENT_ID=invalidtailscaleoperatorclientid
TAILSCALE_OPERATOR_CLIENT_SECRET=invalidtailscaleoperatorclientsecret
KEYCLOAK_ADMIN_PASSWORD=invalidkeycloakadminpassword
KEYCLOAK_POSTGRESQL_PASSWORD=invalidkeycloakpostgresqlpassword
VELERO_MINIO_ACCESS_KEY=invalidminioaccesskey
VELERO_MINIO_SECRET_KEY=invalidminiosecretkey
