[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
apache-airflow-providers-cncf-kubernetes = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3"
